<a href="https://colab.research.google.com/github/DiptoDark/Data_science/blob/main/Mach_V.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Libraries

In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.linear_model import Ridge
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

### Import Data

In [114]:
dataset = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Mach V /Dataset.csv')
df =dataset.copy()
df

                         Name  Age  Q1N  Q2P  ...  Q19N  Q20P  TOTAL     RESULT
0       Asif Julfikar Shoumik   27    4    4  ...     1     1     61  High Mech
1                        Himu   29    4    3  ...     5     1     64  High Mech
2                       Arfan   30    4    3  ...     2     2     54   Low Mach
3    Shakhawat Hossain Sabbir   27    4    5  ...     1     1     72  High Mech
4           Md. Saidur Rahman   28    1    3  ...     1     3     56   Low Mach
5        Jubaer Hossen Tushar   26    5    1  ...     5     1     64  High Mech
6                Reza-E-Rabbi   29    4    5  ...     3     2     62  High Mech
7             Shanto Mollick    28    5    1  ...     4     1     72  High Mech
8      Md. Asaduzzaman Sarker   25    5    2  ...     5     1     61  High Mech
9                  Sohel Rana   33    5    4  ...     3     2     67  High Mech
10           Muhtady Muhaisin   27    5    5  ...     4     1     65  High Mech
11           Md Mominul Islam   29    3    5  ...     4     4     60   Low Mach
12               Ryhan Imtiaz   27    1    4  ...     3     2     55   Low Mach
13             Ashiqur Rahman   25    2    1  ...     2     2     47   Low Mach
14          Mohammad Solaiman   27    4    3  ...     2     1     53   Low Mach
15                Admiral Rio   28    5    4  ...     5     1     66  High Mech
16             Md. Irfan Khan   28    4    2  ...     1     1     45   Low Mach
17       Muhtasim Chowdhury     26    3    5  ...     1     3     62  High Mech
18                      Frank   25    3    3  ...     5     1     63  High Mech
19                  Mohammad    27    4    4  ...     2     1     68  High Mech
20                Sohel Imran   27    5    3  ...     1     4     66  High Mech
21                      Miraz   29    3    3  ...     3     2     56   Low Mach
22      Md. Sakib Ibne Farhad   28    4    3  ...     1     2     62  High Mech
23              Nafis H Alam    28    3    5  ...     1     1     65  High Mech
24             Apsarah Rahman   27    4    1  ...     2     2     43   Low Mach
25      MD RAHATUZZAMAN RAHAT   24    4    3  ...     3     1     69  High Mech
26           Md Tawhid Sultan   24    3    3  ...     1     1     64  High Mech
27               Tanvir Ahmed   25    4    4  ...     1     1     55   Low Mach
28         ARIFUL Haque Akash   26    3    5  ...     4     2     73  High Mech
29                Nihal Fatin   25    4    1  ...     5     1     56   Low Mach
30                     Promit   25    2    3  ...     5     1     54   Low Mach
31                     Rafsan   25    4    5  ...     1     1     66  High Mech
32                     Fauzul   29    1    3  ...     5     1     56   Low Mach
33          Syed Abrar Rahman   24    1    5  ...     1     5     68  High Mech
34                      Ahnaf   26    5    4  ...     2     1     61  High Mech
35        Rezwan Ibnee Mohsin   25    4    1  ...     1     1     55   Low Mach
36           Tasnuva Mehjabin   28    5    4  ...     4     2     72  High Mech
37  Mustafa Istiak Alam Eshan   28    2    4  ...     1     1     46   Low Mach
38  Shubhra Kanti Sinha Shuva   24    5    1  ...     3     1     59   Low Mach

[39 rows x 24 columns]

In [115]:
df.drop(['Name','RESULT','Age'], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
print(df.columns)

In [116]:
x=df[['Q1N', 'Q2P', 'Q3N', 'Q4P', 'Q5P', 'Q6N', 'Q7N', 'Q8P', 'Q9P', 'Q10P',
       'Q11N', 'Q12N', 'Q13P', 'Q14P', 'Q15N', 'Q16N', 'Q17N', 'Q18P', 'Q19N',
       'Q20P',]]
y=df['TOTAL']

In [117]:
x

    Q1N  Q2P  Q3N  Q4P  Q5P  Q6N  Q7N  ...  Q14P  Q15N  Q16N  Q17N  Q18P  Q19N  Q20P
0     4    4    5    2    1    4    3  ...     3     3     4     4     1     1     1
1     4    3    5    5    1    5    5  ...     1     5     4     3     1     5     1
2     4    3    1    3    1    3    1  ...     1     2     5     3     2     2     2
3     4    5    5    5    1    5    5  ...     1     5     5     5     2     1     1
4     1    3    1    3    1    5    4  ...     3     5     4     2     4     1     3
5     5    1    1    1    5    5    5  ...     1     1     5     1     1     5     1
6     4    5    3    3    2    2    1  ...     3     4     4     5     2     3     2
7     5    1    4    5    1    5    1  ...     4     4     5     5     2     4     1
8     5    2    1    5    1    4    5  ...     1     5     3     5     1     5     1
9     5    4    1    5    1    5    1  ...     4     5     5     3     5     3     2
10    5    5    1    5    1    2    1  ...     5     1     5     3     1     4     1
11    3    5    1    4    1    5    1  ...     2     4     2     3     3     4     4
12    1    4    1    2    1    5    4  ...     1     5     4     3     2     3     2
13    2    1    3    5    1    2    3  ...     3     2     3     2     1     2     2
14    4    3    1    5    1    5    1  ...     1     4     4     3     1     2     1
15    5    4    3    3    3    3    2  ...     1     5     5     5     1     5     1
16    4    2    1    2    1    1    1  ...     2     5     3     2     2     1     1
17    3    5    4    3    1    3    2  ...     3     3     3     4     2     1     3
18    3    3    2    5    1    5    5  ...     4     4     5     2     2     5     1
19    4    4    1    2    1    5    5  ...     2     5     5     5     5     2     1
20    5    3    5    5    1    5    4  ...     4     1     1     5     1     1     4
21    3    3    3    3    1    3    3  ...     3     3     3     3     3     3     2
22    4    3    1    3    1    5    3  ...     2     5     4     4     2     1     2
23    3    5    3    3    1    5    1  ...     1     5     5     5     3     1     1
24    4    1    1    5    1    3    3  ...     2     3     1     1     1     2     2
25    4    3    5    2    1    5    5  ...     4     4     3     5     2     3     1
26    3    3    4    5    1    5    4  ...     2     5     3     2     3     1     1
27    4    4    1    2    1    4    3  ...     1     4     3     5     1     1     1
28    3    5    1    3    2    5    4  ...     2     5     4     4     2     4     2
29    4    1    1    5    1    2    5  ...     1     1     2     5     4     5     1
30    2    3    2    2    4    3    3  ...     1     3     4     5     1     5     1
31    4    5    3    5    1    5    1  ...     1     4     5     5     1     1     1
32    1    3    1    1    2    5    1  ...     3     3     1     5     1     5     1
33    1    5    5    5    1    5    1  ...     5     1     5     5     5     1     5
34    5    4    1    3    1    5    5  ...     3     5     5     5     1     2     1
35    4    1    1    3    1    5    4  ...     1     5     5     5     1     1     1
36    5    4    1    1    1    5    4  ...     4     4     4     4     1     4     2
37    2    4    1    1    1    5    3  ...     2     5     4     4     2     1     1
38    5    1    3    3    1    4    5  ...     1     1     5     3     2     3     1

[39 rows x 20 columns]

In [118]:
y

0     61
1     64
2     54
3     72
4     56
5     64
6     62
7     72
8     61
9     67
10    65
11    60
12    55
13    47
14    53
15    66
16    45
17    62
18    63
19    68
20    66
21    56
22    62
23    65
24    43
25    69
26    64
27    55
28    73
29    56
30    54
31    66
32    56
33    68
34    61
35    55
36    72
37    46
38    59
Name: TOTAL, dtype: int64

In [119]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [120]:
sc = StandardScaler()
x_train= sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [ ]:
x_train

In [ ]:
len(x_train)

In [ ]:
len(x_test)

In [124]:
linear_reg = LinearRegression().fit(x_train,y_train)
linear_reg

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [125]:
linear_reg.score(x_train, y_train)

1.0

In [126]:
linear_reg.score(x_test,y_test)

0.9605972563970688

In [ ]:
lasso_reg = linear_model.Lasso(alpha=10, max_iter=10, tol=0.1).fit(x_train,y_train)
lasso_reg

In [ ]:
lasso_reg.score(x_train,y_train)

In [ ]:
lasso_reg.score(x_test,y_test)

In [121]:
ridge_reg= Ridge(alpha=50, max_iter=100, tol=0.1).fit(x_train,y_train)
ridge_reg

Ridge(alpha=50, copy_X=True, fit_intercept=True, max_iter=100, normalize=False,
      random_state=None, solver='auto', tol=0.1)

In [122]:
ridge_reg.score(x_train,y_train)

0.8029896736105311

In [123]:
ridge_reg.score(x_test,y_test)

0.6789696724350758

### Determining Value of K

In [ ]:
individual_clustering_score = []
for i in range(1,5):
    kmeans= KMeans(n_clusters=i, init= 'random', random_state= 42)
    kmeans.fit(df)
    individual_clustering_score.append(kmeans.inertia_)

plt.figure(figsize=(10,6))
plt.plot(range(1,5), individual_clustering_score)
plt.title('Elbow Method')
plt.xlabel('Number of cluster')
plt.ylabel('Clustering Score')
plt.show()

In [ ]:
len(kmeans.cluster_centers_) # number of clusters

In [ ]:
kmeans = KMeans(n_clusters=2, random_state=2)
kmeans.fit(x_train,y_train)
kmeans.labels_
predictions = kmeans.predict(x_test,y_test)
unique,counts = np.unique(predictions, return_counts= True)
counts = counts.reshape(1,2)
countscldf =pd.DataFrame(counts, columns = ['cluster 0', 'cluster 1'])
countscldf

In [ ]:
one = kmeans.cluster_centers_[0]  #Personality-1
two = kmeans.cluster_centers_[1]  #Personality-2
three =kmeans.cluster_centers_[2] #Personality-3
four = kmeans.cluster_centers_[3] #Personality-4

In [ ]:
one   #Very High Mech

In [ ]:
two   #High Mech

In [ ]:
three #Very Low Mech

In [ ]:
four #Low Mech